/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,700);

$brand-primary: #23AC9B;
$brand-info: #444444;
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 14px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";

body {
  margin-top: 50px;
}

.form-container {
  width: 760px;
  margin: 0 auto;
}

.session-container {
  // used on users/new, users/edit, sessions/new
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.well-none {
  // background-color: rgba(35,172,155,1);
  background-color: white;
  border: 1px solid rgba(53,53,53,0.1);
  h1 {
    color: $brand-primary;
  }
}

.grey {
  background-color: rgba(35,172,155,1);
}

.navbar-brand {
  padding: 0;
}

.main-logo {
  height: 40px;
  padding-top: 5px;
  margin-right: 20px;
}

//  QUIZ DISPLAY

.choice-link:hover {
  text-decoration: none;
}
.choice-link:active {
  text-decoration: none;
}

.answer-row:hover{
  background-color: #23ac9b;
  text-decoration: none;
  color: white;
}

.question-wrap {
  padding-top: 80px;
}

.quiz-sidebar {
  max-width: 180px;
}

.vertical-rule {
  width: 1px;
  background-color: #e6e4e4;
  height: 100vh;
}

.category-logo {

}

.quiz-level {
  padding-top: 10px;
  font-style: italic;
  text-align: left;

}
.quiz-points {
  padding-top: 10px;

}

.quiz-progress {
  padding-top: 50px;
}

.question-current {
  color: #dddddd;
}
.question {
  font-size: 28px;
  font-weight: bold;
}

.snippet {

}

.choice {
  border: 1px solid #d3d3d3;
  padding: 20px;
  margin-bottom: 15px;
  font-size: 24px;
}

.choice-letter {
  color: #23ac9b;
  font-size: 30px;
  padding-right: 15px;
}
.choice-letter:hover {
  color: white;
}


