<br>
<div class="quiz-form-container">
  <div class="well">
    <h1> Edit a Category </h1>
     
      <div class="form-group">
        <%= form_for :category, url: category_path(@category), method: :patch do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
          <br>
          <%= f.submit %>
        <% end %>
      </div>


  </div>
</div>